label{
    display: inline-block;
    width: 80px;
}
input,select{
    width: 120px;
    margin-top: 10px;
}
h1{
    color: red;
}

/* test 1 commit cho 2 branch and fix conflict */
h3{
    color: black;
}
h4{
    color:brown
}