label{
    display: inline-block;
    width: 80px;
}
input,select{
    width: 120px;
    margin-top: 10px;
}
<<<<<<< HEAD
h3{
    text-decoration: none;
}
h2{
    color: black
}
=======
>>>>>>> 37d2a92 (version2)
h1{
    color: red;
}